<h1>購入履歴</h1>

<% @purchases.each do |purchase| %>
  <p>宛名: <%= purchase.destination_name %></p>
  <p>送り先: <%= purchase.destination_address %></p>
  <p>購入商品: </p>
  <ul>
    <%= purchase.product.name %> x <%= purchase.total %>
  </ul>
  ----------------------------------------------------------------
<% end %>
