<h3>商品検索</h3>
<form accept-charset="UTF-8" action="/search" class="search"
      id="search" method="get">

  <div class="field">
    <label for="category">カテゴリー</label>
    <select id="category" name="category_id" class="form-control">
      <option value=""></option>
      <option value="1">トップス</option>
      <option value="2">ジャケット・アウター</option>
      <option value="3">パンツ</option>
      <option value="4">オールインワン</option>
      <option value="5">スカート</option>
      <option value="6">ワンピース</option>
      <option value="7">スーツ・ネクタイ</option>
      <option value="8">バック</option>
      <option value="9">シューズ</option>
      <option value="10">時計</option>
    </select>

    <label for="brand">ブランド</label>
    <select id="brand" name="brand_id" class="form-control">
      <option value=""></option>
      <option value="1">adidas</option>
      <option value="2">BEAMS</option>
      <option value="3">Champion</option>
      <option value="4">Dr.Martens</option>
      <option value="5">Edwin</option>
      <option value="6">Francfranc</option>
      <option value="7">GUCCI</option>
      <option value="8">H&M</option>
      <option value="9">JINS</option>
      <option value="10">KATE</option>
    </select>

    <label for="price">価格帯(上限)</label>
    <input id="price" name="price" type="number" placeholder="Price(max)" min="0" class="form-control" />
  </div><br>
  <input class="btn btn-primary" name="commit" type="submit"
         value="Search" />
</form><br>

<h3>
<% if logged_in? && current_user.admin %>
  <%= link_to "商品追加", new_product_path %>
<% end %>
</h3>
