<h3>商品検索</h3>
<form accept-charset="UTF-8" action="#" class="search"
      id="search" method="post">
  <input name="utf8" type="hidden" value="&#x2713;" />
  <input name="authenticity_token" type="hidden"
         value="NNb6+J/j46LcrgYUC60wQ2titMuJQ5lLqyAbnbAUkdo=" />

  <div class="field">
  <label for="カテゴリー">カテゴリー</label>
  <input id="カテゴリー" name="カテゴリー" type="text" />

  <label for="ブランド">ブランド</label>
  <input id="ブランド" name="ブランド" type="text" />

  <label for="価格帯">価格帯</label>
  <input id="価格帯" name="価格帯" type="number" />

  <label for="フリーワード検索">フリーワード検索</label>
  <input id="フリーワード検索" name="フリーワード検索" type="text" />

  </div>
  <input class="btn btn-primary" name="commit" type="submit"
         value="Search" />
</form>
