<footer class="footer">
  <small>
    Powered by Kazuki Koga
  </small>
  <nav>
    <ul>
      <li><%= link_to "お問い合わせはこちら", contact_path %></li>
      <li><a href="http://news.railstutorial.org/">新着情報</a></li>
    </ul>
  </nav>
</footer>
